<script lang="ts">
	import '../app.css';

	import { authenticationService } from '$lib/store/authentication';
	import { accountService } from '$lib/store/account';

	import { goto } from '$app/navigation';
	import { page } from '$app/state';

	import {
		Dropdown,
		DropdownItem,
		ListgroupItem,
		Listgroup,
		Search,
		Badge,
		DarkMode,
		Navbar,
		NavLi,
		NavUl,
		NavHamburger,
		Button
	} from 'flowbite-svelte';

	import {
		ChevronDownOutline,
		ExclamationCircleSolid,
		MailBoxSolid,
		FilePenSolid,
		LockTimeSolid,
		TrackingSolid,
		FaceGrinStarsSolid
	} from 'flowbite-svelte-icons';

	$: if ($authenticationService.authenticated && $accountService.active.name == '') {
		accountService.setActive($authenticationService.email);
		name = $authenticationService.name;
	}

	let logout = () => {
		authenticationService.reset();
		accountService.reset();
		goto('/');
	};

	let name = '';
	let linked_account_search = '';

	const setActive = (e: MouseEvent) => {
		e.preventDefault();
		const account_email = e?.target?.value;

		document.getElementById('dropdownButton')?.click();
		linked_account_search = '';

		accountService.setActive(account_email);
		name = $accountService.active.name;

		authenticationService.setHash(
			account_email,
			name,
			$accountService?.links[account_email]?.account_hash
		);

		return true;
	};

	let darkmodebtn =
		'text-blue-500 dark:text-blue-400 hover:bg-blue-100 dark:hover:bg-blue-700 focus:outline-hidden focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-lg p-2.5 z-50 cursor-pointer';
	let ulClass =
		'flex flex-col p-2 mt-0 md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium max-width: 30%;';
</script>

<Navbar>
	{#if $authenticationService.authenticated}
		<div class={ulClass}>
			<Button id="dropdownButton"
				>{$accountService.active.name}<ChevronDownOutline
					class="w-6 h-6 ms-2 text-white dark:text-white cursor-pointer"
				/></Button
			>
			<Dropdown>
				<DropdownItem slot="header" defaultClass="font-medium py-0 px-0 text-sm flex">
					<Listgroup active class="w-full">
						<ListgroupItem href="/" class="flex">
							<MailBoxSolid class="text-blue-500" />
							<span class="pl-4">Messages</span>
						</ListgroupItem>
						<ListgroupItem href="/send" class="flex">
							<FilePenSolid class="text-blue-500" />
							<span class="pl-4">Send E-Mail</span>
						</ListgroupItem>
						<ListgroupItem href="/password" class="flex">
							<LockTimeSolid class="text-blue-500" />
							<span class="pl-4">Change Password</span>
						</ListgroupItem>
						<ListgroupItem href="/accounts" class="flex">
							<FaceGrinStarsSolid class="text-blue-500" />
							<span class="pl-4">Linked Accounts</span>
						</ListgroupItem>
						<ListgroupItem href="/transports" class="flex">
							<TrackingSolid class="text-blue-500" />
							<span class="pl-4">Transports</span>
						</ListgroupItem>
						<ListgroupItem on:click={logout} class="cursor-pointer">
							<ExclamationCircleSolid class="text-orange-500" />
							<span class="pl-4">Logout</span>
						</ListgroupItem>
					</Listgroup>
				</DropdownItem>

				<div slot="footer" class="p-3" style="overflow-x:scroll; max-height: 90%;">
					<Search class="mb-3" size="md" bind:value={linked_account_search} />
					{#each Object.keys($accountService.links).filter((entry) => {
						if (linked_account_search.length > 0) {
							return entry.includes(linked_account_search);
						} else {
							return true;
						}
					}) as account_email}
						<DropdownItem on:click={setActive} value={account_email} class="cursor-pointer mb-1">
							{#if $accountService.links[account_email].unread > 0}
								<span class="relative mr-4">
									<Badge rounded index>{$accountService.links[account_email].unread}</Badge>
								</span>
							{/if}
							{$accountService.links[account_email].name}
						</DropdownItem>
					{/each}
				</div>
			</Dropdown>
		</div>

		<div class={ulClass}>
			<div class="flex flex-row">
				<Button class="mx-2" outline color="blue" disabled={page.route.id == '/'} href="/"
					>Inbox</Button
				>
				<Button class="mx-2" outline color="blue" disabled={page.route.id == '/send'} href="/send"
					>Send E-Mail</Button
				>
				<DarkMode btnClass={darkmodebtn} />
			</div>
		</div>
	{/if}
</Navbar>

<div class="flex px-4 mx-auto w-full">
	<main class="mx-auto w-full items-center container">
		<slot />
	</main>
</div>
