<script lang="ts">
	import { authenticationService } from '$lib/store/authentication';
	import BoxWizard from '$lib/boxes/BoxWizard.svelte';
	import Login from '$lib/authentication/Login.svelte';
</script>

{#if $authenticationService.authenticated}
	<BoxWizard />
{:else}
	<Login />
{/if}
