<script lang="ts">
	import EmailContent from '$lib/boxes/EmailContent.svelte';
	import { TrashBinSolid, CheckCircleSolid, PaperPlaneSolid } from 'flowbite-svelte-icons';
	import { boxService } from '$lib/store/box';
	import { sendService } from '$lib/store/send';

	import classNames from 'classnames';
	import { getContext, onMount } from 'svelte';
	import { writable } from 'svelte/store';
	import { fade, blur, fly, slide } from 'svelte/transition';
	import type { TransitionParamTypes } from 'flowbite-svelte/dist/types';
	import type { AccordionCtxType } from 'flowbite-svelte/dist/accordion/Accordion.svelte';

	import { Button } from 'flowbite-svelte';
	import { goto } from '$app/navigation';

	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	type TransitionTypes =
		| 'blur'
		| 'fade'
		| 'fly'
		| 'slide'
		| 'in:fly'
		| 'out:fly'
		| 'in:slide'
		| 'out:slide'
		| 'in:fade'
		| 'out:fade'
		| 'in:blur'
		| 'out:blur';

	export let subject: string;
	export let emailHash: string;
	export let messageHash: string;
	export let messageFrom: string;
	export let messageDatetime: string;
	export let showMarkMessageReadAction: boolean;
	export let box: string;

	export let open: boolean = false;
	export let activeClasses: string | undefined = undefined;
	export let inactiveClasses: string | undefined = undefined;

	export let defaultClass: string = 'flex w-full font-medium text-left container pt-1 pb-1';

	export let transitionType: TransitionTypes = 'slide';
	export let transitionParams: TransitionParamTypes = {};

	let DOMRoot = undefined;

	// make a custom transition function that returns the desired transition
	const multiple = (node: HTMLElement, params: any) => {
		switch (transitionType) {
			case 'blur':
				return blur(node, params);
			case 'fly':
				return fly(node, params);
			case 'fade':
				return fade(node, params);
			default:
				return slide(node, params);
		}
	};

	const ctx = getContext<AccordionCtxType>('ctx') ?? {};

	// single selection
	const self = {};
	const selected = ctx.selected ?? writable();

	let _open: boolean = open;
	open = false;

	onMount(() => {
		if (_open) $selected = self;

		// this will trigger unsubscribe on destroy
		return selected.subscribe((x: {}) => (open = x === self));
	});

	const handleToggle = (_: Event) => selected.set(open ? {} : self);

	let buttonClass: string;
	$: buttonClass = classNames(
		defaultClass,
		ctx.flush ? 'py-5' : 'p-5',
		open && (ctx.flush ? 'text-gray-900 dark:text-white' : activeClasses || ctx.activeClasses),
		!open &&
			(ctx.flush ? 'text-gray-500 dark:text-gray-400' : inactiveClasses || ctx.inactiveClasses),
		$$props.class
	);

	const sendReply = (e: MouseEvent) => {
		e.preventDefault();
		$sendService.message.subject = subject;
		$sendService.message.to = [{ email: messageFrom, name: messageFrom }];
		$sendService.messageHash = messageHash;
		$sendService.box = box;
		$sendService.email_key = emailHash;
		goto('/send/');
	};
	const markRead = async (e: MouseEvent) => {
		e.preventDefault();
		await boxService.readMessage(emailHash, box, messageHash);

		notifyUpdateUI();
	};
	const markTrashBinSolid = async (e: MouseEvent) => {
		e.preventDefault();
		await boxService.deleteMessage(emailHash, box, messageHash);

		notifyUpdateUI();
	};

	const notifyUpdateUI = () => {
		dispatch('message', {
			action: 'remove',
			message_id: messageHash
		});
	};
</script>

<div bind:this={DOMRoot}>
	<h2 class="group">
		<section class={buttonClass}>
			<button on:click={handleToggle} type="button" class="{buttonClass} cursor-pointer table">
				<span>{subject}</span>
				<p class="text-gray-400 dark:text-gray-500">{messageFrom}</p>
				<p class="text-gray-400 dark:text-gray-500">{messageDatetime}</p>
			</button>
			{#if !open}
				<div class="flex">
					<div class="w-full flex-wrap flex wrapme_mobile">
						<Button
							on:click={sendReply}
							color="green"
							outline
							class="p-2 m-1 cursor-pointer"
							aria-label="Send Reply"><PaperPlaneSolid /></Button
						>
						{#if showMarkMessageReadAction}
							<Button on:click={markRead} color="yellow" outline class="p-2 m-1  cursor-pointer"
								><CheckCircleSolid /></Button
							>
						{/if}
						<Button on:click={markTrashBinSolid} color="red" outline class="p-2 m-1  cursor-pointer"
							><TrashBinSolid /></Button
						>
					</div>
				</div>
			{/if}
		</section>
	</h2>

	{#if open}
		<div transition:multiple|local={transitionParams}>
			<div class={ctx.flush ? 'py-5' : 'p-5'}>
				<EmailContent {emailHash} {box} {messageHash} />
			</div>
		</div>
		<div class="w-full flex-wrap flex wrapme_mobile">
			<Button
				on:click={(e) => {
					handleToggle(e);
					sendReply(e);
				}}
				color="green"
				outline
				class="p-2 m-1 cursor-pointer"
				aria-label="Send Reply"><PaperPlaneSolid /></Button
			>
			{#if showMarkMessageReadAction}
				<Button
					on:click={(e) => {
						handleToggle(e);
						markRead(e);
					}}
					color="yellow"
					outline
					class="p-2 m-1  cursor-pointer"><CheckCircleSolid /></Button
				>
			{/if}
			<Button
				on:click={(e) => {
					handleToggle(e);
					markTrashBinSolid(e);
				}}
				color="red"
				outline
				class="p-2 m-1  cursor-pointer"><TrashBinSolid /></Button
			>
		</div>
	{/if}
</div>

<style>
	.table {
		display: table;
	}
	.wrapme_mobile {
		width: 100%;
	}

	@media only screen and (max-width: 450px) {
		.wrapme_mobile {
			flex-wrap: wrap;
			width: 50px;
		}
	}
</style>
