<script lang="ts">
	import { authenticationService } from '$lib/store/authentication';

	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	import { ExclamationCircleSolid } from 'flowbite-svelte-icons';

	import { Label, Input, ButtonGroup, InputAddon } from 'flowbite-svelte';

	let current_password = '';
	let new_password = '';
	let new_password_confirm = '';
	let errorMessage = '';
	let show_password_toggle_current_password = false;
	let show_password_toggle_new_password = false;
	let show_password_toggle_new_password_confirm = false;

	onMount(async () => {
		if (!$authenticationService.authenticated) {
			goto('/');
		}

		if (await authenticationService.isDefaultPasswordInUse()) {
			current_password = $authenticationService.email;
		}
	});

	const handleAuthenticationChange = async (e: MouseEvent) => {
		e.preventDefault();

		if (new_password != new_password_confirm) {
			errorMessage = "new passwords don't match!";
			return;
		}

		const session = await authenticationService.authenticate(
			$authenticationService.email,
			current_password
		);

		if (session.response.message) {
			errorMessage = session.response.message;
		} else {
			const status = await authenticationService.changePassword(current_password, new_password);

			if (status == true) {
				$authenticationService.authenticated = false;
				goto('/');
			} else {
				errorMessage = status;
			}
		}
	};

	$: if (
		new_password.length > 0 &&
		new_password_confirm.length > 0 &&
		new_password != new_password_confirm
	) {
		errorMessage = 'New and Confirm passwords must match';
	} else {
		errorMessage = '';
	}
</script>

<section class="bg-gray-50 dark:bg-gray-900">
	<div
		class="flex flex-col items-center justify-center py-8 mx-auto md:h-screen lg:py-0 bg-white dark:bg-gray-900"
	>
		<div class="w-full md:mt-0 sm:max-w-md xl:p-0">
			<form on:submit={handleAuthenticationChange} action="#">
				<!--CurrentPassword-->
				<div class="mb-8">
					<Label for="current_password" class="block mb-2">Current Password</Label>
					<ButtonGroup class="w-full">
						<InputAddon>
							<button
								on:click={(e) => {
									e.preventDefault();
									show_password_toggle_current_password = !show_password_toggle_current_password;
								}}
							>
								{#if show_password_toggle_current_password}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
										/><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
										/></svg
									>
								{:else}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
										/></svg
									>
								{/if}
							</button>
						</InputAddon>
						<Input
							bind:value={current_password}
							id="current_password"
							type={show_password_toggle_current_password ? 'text' : 'password'}
							placeholder="Your current password here"
							autocomplete="current-password"
						/>
					</ButtonGroup>
				</div>
				<!--CurrentPassword-->
				<!--NewPassword-->
				<div class="mb-4">
					<Label for="new_password" class="block mb-2">New Password</Label>
					<ButtonGroup class="w-full">
						<InputAddon>
							<button
								on:click={(e) => {
									e.preventDefault();
									show_password_toggle_new_password = !show_password_toggle_new_password;
								}}
							>
								{#if show_password_toggle_new_password}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
										/><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
										/></svg
									>
								{:else}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
										/></svg
									>
								{/if}
							</button>
						</InputAddon>
						<Input
							bind:value={new_password}
							id="new_password"
							type={show_password_toggle_new_password ? 'text' : 'password'}
							placeholder="Create a new password here"
							autocomplete="new-password"
						/>
					</ButtonGroup>
				</div>
				<!--NewPassword-->
				<!--NewPasswordConfirm-->
				<div class="mb-14">
					<Label for="new_password_confirm" class="block mb-2">Confirm New Password</Label>
					<ButtonGroup class="w-full">
						<InputAddon>
							<button
								on:click={(e) => {
									e.preventDefault();
									show_password_toggle_new_password_confirm =
										!show_password_toggle_new_password_confirm;
								}}
							>
								{#if show_password_toggle_new_password_confirm}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
										/><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
										/></svg
									>
								{:else}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										class="w-5 h-5"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
										/></svg
									>
								{/if}
							</button>
						</InputAddon>
						<Input
							bind:value={new_password_confirm}
							id="new_password_confirm"
							type={show_password_toggle_new_password_confirm ? 'text' : 'password'}
							placeholder="Confirm your new password here"
						/>
					</ButtonGroup>
				</div>
				<!--NewPasswordConfirm-->
				{#if errorMessage != ''}
					<div class="flex items-center h-5 mb-6">
						<ExclamationCircleSolid
							variation="solid"
							class="text-yellow-700 dark:text-darkyellow-300"
							ariaLabel="Error"
						/>
						<div class="pl-4 text-lg text-yellow-400">
							{errorMessage}
						</div>
					</div>
				{/if}

				<button
					type="submit"
					class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-hidden focus:ring-primary-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
					disabled={new_password != new_password_confirm}>Change Password</button
				>
			</form>
		</div>
	</div>
</section>
