<script lang="ts">
	import EmailAccordionItem from '$lib/accordion/EmailAccordionItem.svelte';
	import { accountService } from '$lib/store/account';
	import { authenticationService } from '$lib/store/authentication';
	import { boxService } from '$lib/store/box';

	import { TrashBinSolid } from 'flowbite-svelte-icons';
	import { Accordion, Timeline, TimelineItem, Button, Hr, Input } from 'flowbite-svelte';

	export let scope: string;
	export let box: string;

	let emails = [];
	let search = '';
	let currentEmail = '';

	$: regex = search ? new RegExp(search, 'i') : null;
	$: matches = (item) => (regex ? regex.test(item['subject']) || regex.test(item['email']) : true);

	$: if (currentEmail != $accountService.active.email) {
		const x = async () => {
			currentEmail = $accountService.active.email;

			if (scope == 'global') {
				if (emails.length <= 0) {
					await boxService.getLinkedBox($authenticationService, box);
				}
			} else {
				await boxService.getBoxItems(
					$authenticationService.account_hash,
					box,
					undefined,
					undefined
				);
			}

			currentEmail = $accountService.active.email;

			emails = $boxService.boxes[box];
		};

		x().finally(() => {});
	}

	const resetSearchValue = () => {
		search = '';
	};

	const handleMessage = (event) => {
		if (event.detail.action == 'remove') {
			emails = emails.filter((entry) => {
				entry.messages = entry.messages.filter((message) => {
					return message.id != event.detail.message_id;
				});

				return entry.messages.length > 0;
			});
		}
	};
</script>

<div class="mb-2 flex">
	<Input
		label="BoxFilter"
		id="box_filter"
		name="box_filter"
		required
		placeholder="Type to search messages"
		bind:value={search}
	/>
	<Button on:click={resetSearchValue} color="red" outline class="!p-2 ml-2 "
		><TrashBinSolid /></Button
	>
</div>

<Timeline>
	{#each emails as mailboxEntry}
		{#if mailboxEntry.messages.filter(matches).length > 0}
			<TimelineItem title={mailboxEntry.email}>
				<Accordion flush>
					{#each mailboxEntry.messages.filter(matches) as mailboxEntryRow}
						<EmailAccordionItem
							on:message={handleMessage}
							subject={mailboxEntryRow.subject}
							emailHash={mailboxEntry.email_hash}
							messageHash={mailboxEntryRow.id}
							messageFrom={mailboxEntryRow.email}
							messageDatetime={mailboxEntryRow.datetime.replace('T', ' [').replace('Z', ']')}
							showMarkMessageReadAction={box != 'read'}
							{box}
						/>
					{/each}
				</Accordion>
			</TimelineItem>
			<Hr />
		{:else}
			<h1>Empty for {mailboxEntry.email}</h1>
		{/if}
	{/each}
</Timeline>
