<script lang="ts">
	import AccountEmailView from './AccountEmailView.svelte';

	import { Tabs, TabItem } from 'flowbite-svelte';
</script>

<div class="w-full mx-auto">
	<Tabs class="mt-10 w-full">
		<TabItem open>
			<span slot="title">Global Unread</span>
			<AccountEmailView scope="global" box="unread" />
		</TabItem>
		<TabItem>
			<span slot="title">Global Read</span>
			<AccountEmailView scope="global" box="read" />
		</TabItem>
		<TabItem>
			<span slot="title">Account Unread</span>
			<AccountEmailView scope="account" box="unread" />
		</TabItem>
		<TabItem>
			<span slot="title">Account Read</span>
			<AccountEmailView scope="account" box="read" />
		</TabItem>
	</Tabs>
</div>
