<script lang="ts">
	import type { MailboxMessage, MailboxMessageHeader } from '$lib/types/box';

	import { boxService } from '$lib/store/box';

	import { onMount } from 'svelte';

	import {
		Listgroup,
		ListgroupItem,
		Tabs,
		TabItem,
		Button,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';

	export let box: string;
	export let emailHash: string;
	export let messageHash: string;

	let message: MailboxMessage;
	let filteredItems: MailboxMessageHeader[] = [];
	let searchTerm = '';

	$: if (message !== undefined && message?.headers) {
		filteredItems = Object.values(message?.headers).filter((entry: MailboxMessageHeader) => {
			return entry.value.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
		});
	}

	onMount(async () => {
		message = await boxService.message(emailHash, box, messageHash);
	});

	const renderHTML = (data: string) => {
		const emailRenderWindow = window?.open('127.0.0.1', '_blank');

		if (emailRenderWindow != null) {
			emailRenderWindow.document.write(data);
			emailRenderWindow.opener = null;
		}
	};
</script>

<Tabs contentClass="mt-2 ml-2 bg-gray-50 rounded-lg dark:bg-gray-800">
	{#if message !== undefined && message.text != ''}
		<TabItem open>
			<span slot="title">Text</span>

			<p class="mb-2 text-gray-500 dark:text-gray-400" style="white-space: pre-line">
				{message.text}
			</p>
		</TabItem>
	{/if}
	{#if message !== undefined && message.html != ''}
		<TabItem>
			<span slot="title">HTML</span>
			<p class="text-sm text-gray-500 dark:text-gray-400 bg-white dark:bg-white">
				<Button on:click={renderHTML(message.html)}>Render HTML</Button>
			</p>
		</TabItem>
	{/if}
	{#if message !== undefined && message.attachments !== null && message.attachments.length > 0}
		<TabItem>
			<span slot="title">Attachments</span>

			<Listgroup active class="flex w-full">
				{#each message.attachments as attachment}
					<ListgroupItem class="text-base font-semibold gap-2">
						<Button
							on:click={boxService.downloadAttachment(
								emailHash,
								box,
								messageHash,
								attachment.key,
								attachment.value
							)}
						>
							{attachment.value}
							<svg
								aria-hidden="true"
								class="ml-2 -mr-1 w-5 h-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
									clip-rule="evenodd"
								/></svg
							>
						</Button>
					</ListgroupItem>
				{/each}
			</Listgroup>
		</TabItem>
	{/if}
	{#if message !== undefined && message.errors != ''}
		<TabItem>
			<span slot="title">Errors</span>
			<p class="mb-2 text-gray-500 dark:text-gray-400" style="white-space: pre-line">
				{message.errors}
			</p>
		</TabItem>
	{/if}
	{#if message !== undefined && message.headers !== null && message.headers.length > 0}
		<TabItem>
			<span slot="title">Headers</span>

			<TableSearch
				striped={true}
				placeholder="Filter by value"
				hoverable={true}
				bind:inputValue={searchTerm}
			>
				<TableHead>
					<TableHeadCell>Key</TableHeadCell>
					<TableHeadCell>Value</TableHeadCell>
				</TableHead>
				<TableBody tableBodyClass="divide-y">
					{#each filteredItems as item}
						<TableBodyRow>
							<TableBodyCell tdClass="px-2 py-2 whitespace-nowrap font-medium "
								>{item.key}</TableBodyCell
							>
							<TableBodyCell tdClass="px-2 py-2 whitespace-nowrap font-medium "
								>{item.value}</TableBodyCell
							>
						</TableBodyRow>
					{/each}
				</TableBody>
			</TableSearch>
		</TabItem>
	{/if}
</Tabs>
