<script lang="ts">
	import { authenticationService } from '$lib/store/authentication';
	import { accountService } from '$lib/store/account';

	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	import {
		ThumbsDownSolid,
		ThumbsUpSolid,
		TrashBinSolid,
		PaperPlaneSolid,
		ReplyAllSolid
	} from 'flowbite-svelte-icons';

	import {
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch,
		Tabs,
		TabItem,
		Button,
		ButtonGroup,
		Label,
		Input
	} from 'flowbite-svelte';

	let account_request_permissions = '';
	let accountLinks = [];
	let accountRequests = [];
	let searchTerm = '';
	let currentEmail = '';

	$: {
		if (!$authenticationService.authenticated) {
			goto('/');
		}

		if (currentEmail != $accountService.active.email) {
			currentEmail = $accountService.active.email;
			accountService.addLink($authenticationService.email, authenticationService.session());
			accountService.setActive($authenticationService.email);
		}

		if (Object.keys($accountService.links).length > 0) {
			accountLinks = Object.keys($accountService.links).filter((email) => {
				return email.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
			});
		}

		if (Object.keys($accountService.requests).length > 0) {
			accountRequests = Object.keys($accountService.requests).filter((email) => {
				return email.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
			});
		}
	}

	onMount(async () => {
		if (!$authenticationService.authenticated) {
			goto('/');
			return;
		}

		await accountService.getRequests($authenticationService.account_hash);
		await accountService.getLinks($authenticationService.account_hash);
	});

	const removeMyAccountViewRequest = (e) => {
		e.preventDefault();

		let element = e.target;

		if (element.tagName == 'svg') {
			element = element.parentElement;
		}
		if (element.tagName == 'path') {
			element = element.parentElement.parentElement;
		}

		accountService.removeAccountRequest(
			$authenticationService.account_hash,
			element.attributes.account.value,
			element.attributes.perspective.value
		);
	};

	const updateMyAccountViewRequest = (e) => {
		e.preventDefault();

		let element = e.target;

		if (element.tagName == 'svg') {
			element = element.parentElement;
		}
		if (element.tagName == 'path') {
			element = element.parentElement.parentElement;
		}

		accountService.updateAccountRequest(
			$authenticationService.account_hash,
			element.attributes.account.value,
			element.attributes.reply.value
		);
	};

	const requestAccountLink = (e) => {
		e.preventDefault();
		accountService.requestAccountLink(
			$authenticationService.account_hash,
			account_request_permissions
		);
	};
</script>

<div class="w-full mx-auto">
	<Tabs class="mt-10 w-full md-flex">
		<TabItem open class="sm:shrink-0">
			<span slot="title">Approved Account Requests</span>
			{#if Object.keys($accountService.links).length > 0}
				<TableSearch
					striped={true}
					placeholder="Filter by value"
					hoverable={true}
					bind:inputValue={searchTerm}
				>
					<TableHead>
						<TableHeadCell class="text-base">My Account Requests</TableHeadCell>
						<TableHeadCell class="text-base">Action</TableHeadCell>
					</TableHead>
					<TableBody tableBodyClass="divide-y">
						{#each accountLinks as email}
							{#if email != $authenticationService.email}
								<TableBodyRow>
									<TableBodyCell tdClass="px-2 whitespace-nowrap sm:text-small"
										>{email}</TableBodyCell
									>
									<TableBodyCell tdClass="">
										<Button
											outline={true}
											color="red"
											perspective="link"
											on:click={removeMyAccountViewRequest}
											account={email}><TrashBinSolid /></Button
										>
									</TableBodyCell>
								</TableBodyRow>
							{/if}
						{/each}
					</TableBody>
				</TableSearch>
			{:else}
				<h1 class="text-gray-900 dark:text-white">No Account Links</h1>
			{/if}
		</TabItem>
		<TabItem>
			<span slot="title">External Account Requests</span>
			{#if Object.keys($accountService.requests).length > 0}
				<TableSearch
					striped={true}
					placeholder="Filter by value"
					hoverable={true}
					bind:inputValue={searchTerm}
				>
					<TableHead>
						<TableHeadCell class="text-base">My Account Requests</TableHeadCell>
						<TableHeadCell class="text-base">Action</TableHeadCell>
					</TableHead>
					<TableBody tableBodyClass="divide-y">
						{#each accountRequests as email}
							{#if email != $authenticationService.email}
								<TableBodyRow>
									<TableBodyCell tdClass="px-2 whitespace-nowrap text-xl ">{email}</TableBodyCell>
									<TableBodyCell tdClass="px-2 whitespace-nowrap ">
										<Button
											outline={$accountService.requests[email] != 'denied'}
											color="yellow"
											on:click={updateMyAccountViewRequest}
											reply="denied"
											account={email}><ThumbsDownSolid /></Button
										>
										<Button
											outline={true}
											color="red"
											perspective="access"
											on:click={removeMyAccountViewRequest}
											account={email}><TrashBinSolid /></Button
										>
										<Button
											outline={$accountService.requests[email] != 'accepted'}
											color="blue"
											on:click={updateMyAccountViewRequest}
											reply="accepted"
											account={email}><ThumbsUpSolid /></Button
										>
									</TableBodyCell>
								</TableBodyRow>
							{/if}
						{/each}
					</TableBody>
				</TableSearch>
			{:else}
				<h1 class="text-gray-900 dark:text-white">No Account Requests</h1>
			{/if}
		</TabItem>
		<TabItem>
			<span slot="title">New Request</span>
			<div class="w-full md:mt-0 sm:max-w-md xl:p-0">
				<form on:submit={requestAccountLink} action="#">
					<!--CurrentPassword-->
					<div class="mb-8">
						<Label for="account_request_permissions" class="block mb-2"
							>Request Permissions for Account</Label
						>
						<ButtonGroup class="w-full">
							<Input
								bind:value={account_request_permissions}
								id="account_request_permissions"
								type="email"
								placeholder="The account you wish to request permissions for"
							/>
						</ButtonGroup>
					</div>

					<div class="grid gap-6 md:grid-cols-2">
						<Button on:click={(account_request_permissions = '')} color="red" outline
							><ReplyAllSolid />Reset Form</Button
						>
						<Button type="submit" on:click={requestAccountLink}
							><PaperPlaneSolid />Send Account Request</Button
						>
					</div>
				</form>
			</div>
		</TabItem>
	</Tabs>
</div>
