<script lang="ts">
	import type {
		Transport,
		TransportSendgrid,
		TransportSimple,
		Transports
	} from '$lib/types/transport';

	import { authenticationService } from '$lib/store/authentication';
	import { transportService } from '$lib/store/transport';

	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	import Svelecte from 'svelecte';
	import { TrashBinSolid, PaperPlaneSolid, ReplyAllSolid } from 'flowbite-svelte-icons';
	import {
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch,
		Tabs,
		TabItem,
		Button,
		Input,
		Textarea
	} from 'flowbite-svelte';

	const transportTypes = [
		{ name: 'Simple', value: 'simple' },
		{ name: 'SendGrid', value: 'sendgrid' }
	];
	let selectedTransportType = 'simple';
	let searchTerm = '';
	let transports: Transports = [];

	// All Transports
	let title = '';
	let footer = '';

	// Transport: Simple
	let host = '';
	let port = 443;
	let username = '';
	let password = '';

	// Transport: SendGrid
	let url = 'https://';
	let apikey = '';

	$: {
		if (!$authenticationService.authenticated) {
			goto('/');
		}

		if ($transportService.length > 0) {
			transports = $transportService.filter((transport) => {
				return transport.title.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
			});
		}
	}

	onMount(async () => {
		if (!$authenticationService.authenticated) {
			goto('/');
			return;
		}

		await transportService.get($authenticationService.account_hash);
	});

	const addTransportRequest = async (e) => {
		e.preventDefault();

		let transport: Transport = {
			title: title,
			data: {},
			status: '',
			id: ''
		};

		if (selectedTransportType == 'simple') {
			let sendgrid: TransportSimple = {
				host,
				port,
				username,
				password,
				footer,
				type: selectedTransportType
			};

			transport.data = sendgrid;
		}

		if (selectedTransportType == 'sendgrid') {
			let sendgrid: TransportSendgrid = {
				url,
				apikey,
				footer,
				type: selectedTransportType
			};

			transport.data = sendgrid;
		}

		const data: Transport = await encrypt(transport);

		transportService.add($authenticationService.account_hash, data);
	};

	const removeTransport = (e: any) => {
		e.preventDefault();

		let element = e.target;

		if (element.tagName == 'svg') {
			element = element.parentElement;
		}
		if (element.tagName == 'path') {
			element = element.parentElement.parentElement;
		}

		transportService.remove(
			$authenticationService.account_hash,
			element.attributes.transport.value
		);
	};

	const str2ab = (str: string) => {
		const array = new Uint8Array(str.length);

		for (let i = 0; i < str.length; i += 1) {
			array[i] = str.charCodeAt(i);
		}

		return array.buffer;
	};

	const AESGCMEncrypt = (key: string, data: string, ad: string) =>
		new Promise((resolve, reject) => {
			crypto.subtle
				.importKey('raw', str2ab(key), { name: 'AES-GCM' }, false, ['encrypt'])
				.then((cryptoKey) => {
					const initializationVector = crypto.getRandomValues(new Uint8Array(12));

					crypto.subtle
						.encrypt(
							{
								// https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/encrypt
								name: 'AES-GCM',
								iv: initializationVector,
								additionalData: str2ab(ad),
								tagLength: 128
							},
							cryptoKey,
							str2ab(data)
						)
						.then((encrypted) => {
							const iv = Array.from(initializationVector)
								.map((b) => b.toString(16).padStart(2, '0'))
								.join('');
							const ct = Array.from(new Uint8Array(encrypted))
								.map((b) => b.toString(16).padStart(2, '0'))
								.join('');

							resolve(`${iv}:${ct}`);
						})
						.catch((err) => {
							reject(err);
						});
				})
				.catch((err) => {
					reject(err);
				});
		});

	const encrypt = async (t: Transport): Promise<Transport> => {
		let transport: Transport = JSON.parse(JSON.stringify(t));

		if (transport.data.type === 'simple') {
			if (transport.data.username !== '') {
				transport.data.username = await AESGCMEncrypt(
					$authenticationService.tk,
					transport.data.username,
					$authenticationService.email
				);

				if (transport.data.password !== '') {
					transport.data.password = await AESGCMEncrypt(
						$authenticationService.tk,
						transport.data.password,
						$authenticationService.email
					);
				}
			}
		}

		if (transport.data.type === 'sendgrid') {
			transport.data.apikey = await AESGCMEncrypt(
				$authenticationService.tk,
				transport.data.apikey,
				$authenticationService.email
			);
		}

		return transport;
	};
</script>

<div class="w-full mx-auto">
	<Tabs class="mt-10 w-full md-flex">
		<TabItem open>
			<span slot="title">Add Transport</span>
			<form on:submit={addTransportRequest} action="#" class="md-flex">
				<div class="mb-8">
					<Svelecte
						name="transport"
						options={transportTypes}
						bind:value={selectedTransportType}
						required={true}
						placeholder="Select a Transport Type"
						valueField="value"
						labelField="name"
						clearable={true}
					/>
				</div>

				<div class="mb-6 flex">
					<Input placeholder="Title" id="Title" name="Title" bind:value={title} required />
				</div>

				{#if selectedTransportType == 'simple'}
					<div class="grid gap-6 md:grid-cols-2 mb-6 flex">
						<Input placeholder="Host" id="Host" name="Host" bind:value={host} required />
						<Input
							placeholder="Port"
							id="Port"
							name="Port"
							min="0"
							max="65535"
							pattern="\d+"
							bind:value={port}
							type="number"
							required
						/>
					</div>
					<div class="grid gap-6 md:grid-cols-2 mb-6 flex">
						<Input
							placeholder="Username"
							id="Username"
							name="Username"
							bind:value={username}
							required
							autocomplete="new-password"
						/>
						<Input
							placeholder="Password"
							id="Password"
							name="Password"
							type="password"
							bind:value={password}
							required
							autocomplete="new-password"
						/>
					</div>
				{/if}

				{#if selectedTransportType == 'sendgrid'}
					<div class="mb-6 flex">
						<Input
							placeholder="URL"
							id="URL"
							name="URL"
							bind:value={url}
							required
							type="url"
							pattern="http[s]?://.*"
						/>
					</div>
					<div class="mb-6 flex">
						<Input placeholder="API Key" id="API Key" name="API Key" bind:value={apikey} required />
					</div>
				{/if}

				<div class="mb-6 flex">
					<Textarea
						id="editor"
						rows="17"
						bind:value={footer}
						required
						placeholder="E-Mail Footer"
					/>
				</div>

				<div class="grid gap-6 md:grid-cols-2">
					<Button color="red" outline type="reset"><ReplyAllSolid />Reset</Button>
					<Button type="submit"><PaperPlaneSolid />Submit</Button>
				</div>
			</form>
		</TabItem>
		<TabItem>
			<span slot="title">Available Transports</span>
			{#if $transportService.length > 0}
				<TableSearch
					striped={true}
					placeholder="Filter by value"
					hoverable={true}
					bind:inputValue={searchTerm}
				>
					<TableHead>
						<TableHeadCell class="text-base">My Account Requests</TableHeadCell>
						<TableHeadCell class="text-base">Action</TableHeadCell>
					</TableHead>
					<TableBody tableBodyClass="divide-y">
						{#each transports as transport}
							<TableBodyRow>
								<TableBodyCell tdClass="px-2 whitespace-nowrap sm:text-lg"
									>{transport.title}</TableBodyCell
								>
								{#if transport.status == 'account'}
									<TableBodyCell tdClass="">
										<Button
											outline={true}
											color="red"
											perspective="link"
											on:click={removeTransport}
											transport={transport.title}><TrashBinSolid /></Button
										>
									</TableBodyCell>
								{/if}
							</TableBodyRow>
						{/each}
					</TableBody>
				</TableSearch>
			{:else}
				<h1 class="text-gray-900 dark:text-white">No Transports Available - go add one!</h1>
			{/if}
		</TabItem>
	</Tabs>
</div>
