<script lang="ts">
	import { accountService } from '$lib/store/account';
	import { authenticationService } from '$lib/store/authentication';
	import { boxService } from '$lib/store/box';
	import { sendService } from '$lib/store/send';
	import { transportService } from '$lib/store/transport';

	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	import Svelecte from 'svelecte';

	import { ReplyAllSolid, PaperPlaneSolid } from 'flowbite-svelte-icons';

	import {
		Textarea,
		Button,
		Input,
		Dropzone,
		Listgroup,
		ListgroupItem,
		Label
	} from 'flowbite-svelte';

	let selectedTransport: any;
	let transports: { value: string; name: string }[] = [];

	let subject: string = '';
	let body: string = '';
	let message: string = '';
	let files: FileList | undefined;

	onMount(() => {
		if (!$authenticationService.authenticated) {
			goto('/');
		}

		if ($sendService.messageHash) {
			boxService
				.message($sendService.email_key, $sendService.box, $sendService.messageHash)
				.then((msg) => {
					message = msg;
				})
				.finally(() => {
					resetSubjectValue();
				});
		}

		transportService.get($sendService.email_key).then((response) => {
			transports = $transportService.map((transport) => {
				return { value: transport.id, name: `${transport.status} :: ${transport.title}` };
			});
		});
	});

	const fetchProps = {
		method: 'POST',
		mode: 'cors',
		credentials: 'include',
		cache: 'no-cache',
		headers: {
			'Content-Type': 'application/json'
		},
		referrerPolicy: 'no-referrer',
		body: JSON.stringify({
			account_hash: $authenticationService.account_hash
		})
	};

	const resetSubjectValue = () => {
		subject = '';

		if ($sendService.message.subject.length > 0) {
			subject = `RE: ${$sendService.message.subject}`;
		}

		body = message.text;

		files = undefined;
	};

	const sendEMail = () => {
		console.log($sendService.message);
		return;
		// cleanup to remove trash property created to component...
		if ($sendService.message.to && $sendService.message.to['$created'] !== undefined) {
			delete $sendService.message.to['$created'];
		}

		let emailRequest = {
			account_hash: $authenticationService.account_hash,
			transportid: selectedTransport,
			to: $sendService.message.to,
			cc: $sendService.message.cc,
			bcc: $sendService.message.bcc,
			from: $accountService.active.email,
			subject: subject,
			text: body,
			attachments: [
				// {
				// 	content: '',
				// 	type: '',
				// 	filename: ''
				// }
			]
		};

		const parseFiles = new Promise((resolve, reject) => {
			try {
				const attachmentFromSize = {};
				const fileItem = document.getElementById('emailAttachments'); //eslint-disable-line
				if (fileItem.files && fileItem.files.length) {
					let fileCount = fileItem.files.length;
					let c = fileItem.files.length;

					const attachments = [];

					for (; c > 0; ) {
						//eslint-disable-line
						c -= 1;
						const file = fileItem.files[c];

						attachmentFromSize[file.size] = {
							type: file.type,
							name: file.name
						};
						var reader = new FileReader(); //eslint-disable-line

						reader.onload = (e) => {
							//eslint-disable-line
							fileCount -= 1;

							const item = {
								content: btoa(e.target.result), //eslint-disable-line
								size: e.target.result.length
							};
							const entry = attachmentFromSize[item.size];

							if (entry) {
								item.type = entry.type;
								item.filename = entry.name;
							}
							attachments.push(item);

							if (fileCount <= 0) {
								resolve(attachments);
							}
						};
						reader.readAsBinaryString(file);
					}
				} else {
					resolve(false);
				}
			} catch (e) {
				reject(e);
			}
		});

		parseFiles
			.then(async (attachments) => {
				if (attachments) {
					emailRequest.attachments = attachments;
				}
				console.log(emailRequest); //eslint-disable-line

				const url = `MAILPIPE_API_URL/api/v1/account/sendemail/`;

				const response = await fetch(url, {
					method: 'POST',
					mode: 'cors',
					credentials: 'include',
					cache: 'no-cache',
					headers: {
						'Content-Type': 'application/json'
					},
					referrerPolicy: 'no-referrer',
					body: JSON.stringify(emailRequest)
				});

				const json = await response.json();

				console.log('sendemail response: ', json);
			})
			.catch((err) => {
				console.log('catch: ', err);
			});
	};

	const createTransform = (prop: {
		inputValue: string;
		valueField: string;
		labelField: string;
		prefix: string;
	}) => {
		return { name: '', email: prop.inputValue };
	};
</script>

<form class="mb-5 mt-10">
	<div class="mb-6 flex grid">
		<Svelecte
			name="to[]"
			multiple={true}
			bind:value={$sendService.message.to}
			required={true}
			placeholder="To"
			fetch="MAILPIPE_API_URL/api/v1/account/contacts/[query]"
			{fetchProps}
			valueField="email"
			labelField="email"
			valueAsObject={true}
			clearable={true}
			creatable={true}
			allowEditing={true}
			createHandler={createTransform}
		/>
	</div>
	<div class="grid gap-6 mb-6 md:grid-cols-2">
		<Svelecte
			name="cc[]"
			multiple={true}
			bind:value={$sendService.message.cc}
			valueAsObject
			required={false}
			placeholder="CC"
			fetch="MAILPIPE_API_URL/api/v1/account/contacts/[query]"
			{fetchProps}
			valueField="email"
			labelField="email"
			clearable={true}
			creatable={true}
			allowEditing={true}
			createHandler={createTransform}
		/>

		<Svelecte
			name="bcc[]"
			multiple={true}
			bind:value={$sendService.message.bcc}
			valueAsObject
			required={false}
			placeholder="BCC"
			fetch="MAILPIPE_API_URL/api/v1/account/contacts/[query]"
			{fetchProps}
			valueField="email"
			labelField="email"
			clearable={true}
			creatable={true}
			allowEditing={true}
			createHandler={createTransform}
		/>
	</div>

	<div class="mb-6 flex">
		<Input placeholder="Subject" id="subject" name="subject" bind:value={subject} required />
	</div>

	<div class="mb-6 flex">
		<Textarea id="editor" rows="17" bind:value={body} required placeholder="Message Here" />
	</div>

	<div class="mb-4">
		<div class="flex">
			<Dropzone
				bind:files
				multiple
				name="Attach file"
				id="emailAttachments"
				defaultClass="flex flex-col justify-center items-center w-full h-16 p-5 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
			>
				<svg
					aria-hidden="true"
					class="mb-3 w-10 h-10 text-gray-400"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
					/></svg
				>
				<p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
					<span class="font-semibold">Click to upload</span> or drag and drop
				</p>
			</Dropzone>
		</div>
		<div>
			{#if files?.length > 0}
				<Listgroup items={files} let:item class="mt-2">
					<ListgroupItem>{item.name}</ListgroupItem>
				</Listgroup>
			{/if}
		</div>
	</div>

	<div class="grid gap-6 mb-10 md:grid-cols-1">
		<Svelecte
			name="transport"
			options={transports}
			bind:value={selectedTransport}
			required={true}
			placeholder="Select a transport"
			valueField="value"
			labelField="name"
			clearable={true}
		/>
	</div>

	<div class="grid gap-6 md:grid-cols-2">
		<Button on:click={resetSubjectValue} color="red" outline><ReplyAllSolid /> Reset</Button>
		<Button type="submit" on:click={sendEMail}><PaperPlaneSolid /> Send E-Mail</Button>
	</div>
</form>
